.navbar-logo {
  width: 100px;
}

.nav-item {
  margin-top: -2em;
  padding-left: 0;
  padding-top: 2em;

  &.active {
    background-color: rgba($color: #fff, $alpha: 0.3);
    border-bottom: 3px solid #ff60f4;
    border-radius: 0.2em;
  }
  &:hover {
    background-color: rgba($color: #fff, $alpha: 0.3);
    border-bottom: 3px solid #ff60f4;
    border-radius: 0.2em;
  }
}
