@font-face {
  font-family: Proxima;
  src: url("./assets/fonts/proxima-regular.otf");
  font-weight: normal;
}

@font-face {
  font-family: Proxima;
  src: url("./assets/fonts/proxima-semibold.otf");
  font-weight: 600;
}

@font-face {
  font-family: Proxima;
  src: url("./assets/fonts/proxima-bold.otf");
  font-weight: 700;
}

@font-face {
  font-family: DidactGothic;
  src: url("./assets/fonts/DidactGothic-Regular.ttf");
}

body {
  font-family: Proxima !important;
}

.text-semibold {
  font-weight: 600 !important;
}

.text-bold {
  font-weight: 700 !important;
}
